form {
  text-align: center;
  text-transform: uppercase;
  line-height: 55px;
  font-size: 16px;
  max-width: 67%;
  margin: 0 auto;
}
form input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
}
form .form-group {
  margin: o;
  padding: 0;
  line-height: 2px;
}
form .form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
form .text-center {
  color: linear-gradient(115deg, #a7e04a 10%, #82e6f3 90%);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100%;
}
form .btn {
  padding: 5px;
  align-items: center;
  margin: 0 auto;
}
